<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.dice.ui.preferences"
            class="org.dice.deployments.ui.preferences.pages.MainPage"
            id="org.dice.deployments.ui.preferences.pages.Main"
            name="Deployment Tools">
      </page>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.dice.deployments.ui.launchers.LaunchDeployDelegate"
            id="org.dice.deployments.ui.launchDeployConfigurationType"
            modes="run, debug"
            name="DICE Deployments">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="org.dice.deployments.ui.launchers.LaunchDeployMainTab"
            group="org.dice.deployments.ui.launchers.LaunchDeployTabGroup"
            id="org.dice.deployments.ui.launchers.LaunchDeployMainTab"
            name="Deployment configuration">
      </tab>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.dice.deployments.ui.launchers.LaunchDeployTabGroup"
            id="org.dice.deployments.ui.launchers.LaunchDeployTabGroup"
            type="org.dice.deployments.ui.launchDeployConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.dice.deployments.ui.launchDeployConfigurationType"
            icon="icons/deployments.png"
            id="org.dice.deployments.ui.launchers.LaunchDeployImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.dice.deployments.ui"
            name="Delivery Tool">
      </category>
      <view
            allowMultiple="false"
            category="org.dice.deployments.ui"
            class="org.dice.deployments.ui.views.ContainersView"
            icon="icons/deployments.png"
            id="org.dice.deployments.ui.views.Containers"
            name="Container List">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.dice.deployments.ui.commands.OpenRunConfig"
            id="org.dice.deployments.ui.commands.OpenRunConfig"
            name="DICE Deployments">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.dice.menu.tools">
         <command
               commandId="org.dice.deployments.ui.commands.OpenRunConfig"
               icon="icons/deployments.png"
               label="DICE Deployments"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <cheatsheet
            category="org.dice.methodology.tools.category"
            composite="true"
            contentFile="cheatsheets/main.xml"
            id="org.dice.deployments.ui.cheatsheet"
            name="Delivery Tool">
         <description>
            Learn how to use the DICE Delivery Tool
         </description>
      </cheatsheet>
   </extension>

</plugin>
