<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.dice.ui.preferences"
            class="org.dice.deployments.preferences.pages.DeploymentsPreferencesPage"
            id="org.dice.ui.preferences.deployments"
            name="Deployment Tools">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.dice.deployments.preferences.DeploymentsPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
