<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.dice.deployments.menu"
               label="Deployment Service">
            <command
                  commandId="org.dice.ui.deploymentsShowWebUI"
                  icon="icons/deployments.png"
                  label="DICE Deployments Tool UI"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.dice.deployments.handlers.DeploymentsHandler"
            id="org.dice.ui.deploymentsShowWebUI"
            name="DICE Deployment Service UI">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.dice.ui.deployments"
            class="org.dice.deployments.preferences.pages.DeploymentsPreferencesPage"
            id="org.dice.ui.deployments.preferences"
            name="Deployment Tools">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.dice.deployments.preferences.DeploymentsPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
